*{
    margin: 0;
    padding: 0;

}



.main-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 30vw;
    min-height: 30vh;

}

.circle-div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    background-color: #ff6e00;
    color: aliceblue;
    font-size: 20px;
    border-radius: 80px;
    margin-top: 6%;
    margin-bottom: -4%;
    margin-left: 35%;
    transition: 0.6s;

}

a{
    text-decoration: none;
}

h2{
    font-size: 45px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 5%;
    margin-left: 10%;
}

.circle-div:hover{
    background-color: black;
    color: #ff6e00;

}

.links{
    color: black;
    font-size: 25px;
    margin-top: 5px;
    margin-bottom: 3%;
    margin-left: 45%;
    transition: 0.4s;
}

.links:hover{
    color: #ff6e00  ;
}